@inherits LayoutComponentBase
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />
<a class="github-fork-ribbon" href="https://github.com/bradygaster/FigglatR" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
<style>
.github-fork-ribbon:before {
    background-color: #0079d4;
}
</style>
@Body
